body{
	margin: 0px;
	padding: 0px;
}
.wrapper{
	height: 2000px;
	background: #FFFFFF;
}
.header{
	width: 810px;
	height: 450px;
	background: #67C2E3;
	margin: 0 auto;
}
.header .nd{
	text-align: center;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #FFFFFF;
	border:1px solid #67C2E3;
}
.header .nd h1{
	padding-top: 30px;
}
.header .nd hr{
	width: 40%;
}
.header .nd p{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
.header .nd img{
	padding-top: 60px;
}
.content{
	width: 810px;
	height: 800px;
	background: #FFFFFF;
	margin: 0 auto;
	border:1px solid #67C2E3;
}
.content .ct1{
	width: 400px;
	height: 300px;
	margin-left: 10px;
	float: left;
}
.content .ct1 h1{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #67C2E3;
}
.content .ct1 p{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	width: 370px;
}
.content .ct2{
	float: right;
	width: 400px;
	height: 300px;
	margin-top: 0px;
}
.content .ct2 h1{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #67C2E3;
	margin-left: 10px;
}
.content .ct2 p{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	margin-left: 10px;
	width: 370px;

}